<h1 class="alert">All posts</h1>
<% @posts.each do |post| %>
  <div class="alert alert-light bg-light border border-primary" style="border-radius: 25px">
    <h3 style="color: black"><strong><%= post.title %></strong></h3>
    <p><%= post.body %></p>
    <span style="float: right"><%=post.user.email %></span>
    <%= link_to "Next", post_path(post), :class => 'btn btn-outline-primary'%>
  </div>
<% end %>